.panel { background: #111111; }
.panel.footer p { color: #dddddd; }
.panel.footer a { color: #aaaaaa; }
.panel.footer a:hover { color: #dddddd; }

.top-bar-section ul li  a:hover { 
	background: #ffffff;
	color: #333333 };